.home{
  display: inline-flex;
}
.text-typing {
    margin-left: 150px;
    margin-top: 200px;
    color: black;
    font-size: 25px;
    font-weight: bold;
    width: 50%;
}
.text-typing p {
  font-size: 14px;
  font-weight: lighter;
  opacity: .6;
}

.cartoon img{
  width: 40%;
  float: right;
  margin-top: 100px;
  margin-right: 200px;
}
